/********************
 * BACKGROUND COVER *
 ********************/

@mixin background {
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}