/**********
 * COLORS *
 **********/

$black: #000000;
$lightBlack: #2B2B2B;
$red: #DE1B1B;
$white: #F6F6F6;
$yellow: #E9E581;
$blue: #4A96AD;
$text: #54575c;
// $lightBlue: rgb(124,182,199);
$lightBlue: #a5cdd9;
$lightGrey: #e9e9e9;
$gold: #ad934a;