.testimonials.section {
  box-shadow: 0px -3px 10px rgba($black,0.4);
}
.quotes {
  width: 60%;
  float:left;
  height: 100%;
}
.content {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
}
.author {
  font-family: $slab;
  font-size: 1.5em;
  margin-left: 20px;
}
