.testimonials.section {
}
.quotes {
  width: 60%;
  float:left;
  height: 100%;
}
// .col-6 {
//   width: 50%;
//   float:left;
//   padding-left: 20px;
//   padding-right: 20px;
// }
.content {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
}
.author {
  font-family: $slab;
  font-size: 1.5em;
  margin-left: 20px;
}
