.top.section {
  @include background;
  background-attachment: fixed;
  background-image: url('../images/gym.png');
  @include mobile {
    background-attachment: scroll;
    @include rem-fallback(padding, 1, 0);
  }
}
