/***
 * COLORS
 ***


white: #F6F6F6;
black: #2B2B2B;
soft white: #F6F6F6;
bright red: #ec2d56;
dark blue: #00003b;


black: #2B2B2B
red: #DE1B1B
white: #F6F6F6
yellow: #E9E581
blue: #4A96AD;
text: #54575c;


*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #2B2B2B;
}

html{
  height: 100%;
  font-size: 16px;

}
body {
  font-size: 62.5%;
  margin:0;
  background: #F6F6F6;
  color: #54575c;

}

.container {
  padding-left: 10px;
  padding-right: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.page {
}

nav {
  width: 100%;
  background: #F6F6F6;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
}

nav ul {
  float: left;
  list-style: none;
  padding-left: 0;
  margin:0;
}

nav li {
  float:left;
  margin-right:10px;
  margin-left:10px;
  height: 47px;
  line-height: 46px;
}

nav a {
  transition: all 0.4s ease;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 0;
  letter-spacing: 2px;
  color: #54575c;

}
nav a:hover {
  color: #4A96AD;
  text-shadow: 0px 2px 4px rgba(222, 27, 27,0.2);
}

/*.logo {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 275px;
  border-radius:50%;
  background: rgba(0, 0, 59, 0.25);
  border:7px solid rgba(255, 254, 241, 0.5);
}*/

.section {
  height:400px;
}
.main.section {
  min-height: 350px;
  height: 500px;
  background: rgba(0,0,59, 0.95);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('images/gym.png');
}

@media (max-width: 767px) {
  .main.section {
    background-attachment: scroll;
  }
}
h1 {
  margin:0;
}
h1 span {
  color: #2B2B2B;
  font-family: 'Roboto Slab', Verdana, "Times New Roman", serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 0;
  text-transform: uppercase;
}
.in-his-hands-wrapper {
  display: block;
  float: left;
  border-radius: 3px;
}

.in-his-hands {
  background: #F6F6F6;
  color: #54575c;
  padding-right: 6px;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5em;
}
.capital {
  font-size: 1.325em;
  color: #54575c;
  font-weight: 600;
}
.fitness {
  letter-spacing: 1px;
  color: #4A96AD;
  font-weight: 400;
  font-size: 2em;
}


.testimonials.section {
}
.quotes {
  width: 60%;
  float:left;
  height: 100%;
}
.row {
  margin-top: 30px;
}
.col-6 {
  width: 50%;
  float:left;
  padding-left: 20px;
  padding-right: 20px;
}
.content {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
}
.author {
  font-family: 'Roboto Slab', Verdana, "Times New Roman", serif;
  font-size: 1.5em;
  margin-left: 20px;
}
.subscription-form {
  width: 400px;
  float: right;
}
.subscription-form .container {
  padding-left: 20px;
  padding-right: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
}
h4 {
  line-height: 1.2;
  margin: 0;
  margin-bottom: 30px;
  color: #54575c;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1.25px;
  color: #F6F6F6;
}
form {
  padding: 20px;
  border: 6px solid rgba(246, 246, 246, 0.5);
  border-radius: 6px;
  background: rgba(74, 150, 173, 0.9);
  background-image:
    linear-gradient(
      to top right,
      rgba(124,182,199, 0.1), rgba(74, 150, 173, 0.7) 50%
    );
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
  margin-top: 60px;
}
.name {
  font-family: 'Roboto Slab', Verdana, "Times New Roman", serif;
  font-weight: 600;
  color: #f6f6f6;
  letter-spacing: 0.5px;
}
label {
  display: block;
  line-height: 1.2;
  margin: 0;
  color: #f6f6f6;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

input {
  background-color: white;
  color: #5f6162;
  padding: 6px 7px;
  width: 250px;
  border: 1px solid #bbb;
  border-top-color: #999;
  border-radius: 4px;
  -ms-box-shadow: inset 0 1px 2px rgba(36,36,36,0.18);
  -o-box-shadow: inset 0 1px 2px rgba(36,36,36,0.18);
  box-shadow: inset 0 1px 2px rgba(36,36,36,0.18);
  height: 35px;
  background-color: #F6F6F6;
  border: 1px solid #c0c8c8;
  border-radius: 3px;
  display: block;
  padding-left: 10px;
  font-size: 1.75em;
  width: 100%;
}
input[type="email"] {
  margin-bottom: 15px;
}
input[type="submit"] {
  background-color: #F6F6F6;
  background: -webkit-linear-gradient(180deg, #e9e9e9 10%, #F6F6F6 90%);
  background:    -moz-linear-gradient(180deg, #e9e9e9 10%, #F6F6F6 90%);
  background:     -ms-linear-gradient(180deg, #e9e9e9 10%, #F6F6F6 90%);
  background:      -o-linear-gradient(180deg, #e9e9e9 10%, #F6F6F6 90%);
  background:         linear-gradient(180deg, #e9e9e9 10%, #F6F6F6 90%);
  color: #54575c;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:visited {
  background-color: #e9e9e9;
  background: -webkit-linear-gradient(180deg, #F6F6F6 10%, #e9e9e9 90%);
  background:    -moz-linear-gradient(180deg, #F6F6F6 10%, #e9e9e9 90%);
  background:     -ms-linear-gradient(180deg, #F6F6F6 10%, #e9e9e9 90%);
  background:      -o-linear-gradient(180deg, #F6F6F6 10%, #e9e9e9 90%);
  background:         linear-gradient(180deg, #F6F6F6 10%, #e9e9e9 90%);
  text-decoration: none;
  cursor: pointer;
}
input[type="submit"]:active {
  background: #F6F6F6;
  box-shadow: inset 0 0 6px 3px #bbbbbb;
}

.testimonials {

}

@media (max-width: 565px) {
  .main.section {
    background-size: 100% auto;
  }
}

@media (max-width: 767px) {

}
@media (min-width: 768px) {
  .container {
    max-width: 767px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 991px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1199px;
  }
}